<header>
    <%= image_tag "logo.png",
        {
            :alt => "Ruby on Rails Tutorial Sample app",
            :class => "round"
        }
    %>
    <nav class="round">
        <ul>
            <li><%= link_to "Home", "/pages/home" %></li>
            <li><%= link_to "Help", "/pages/help" %></li>
            <li><%= link_to "Sign in", "#" %></li>
        </ul>
    </nav>
</header>
